# SO y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

# Node y PNPM
node_modules/
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds y caches
dist/
build/
tmp/
temp/
logs/
**/*.log

# Angular caches
.angular/
apps/frontend/.angular/
apps/frontend/.vite/
apps/frontend/.cache/

# Service worker y coverage
coverage/
apps/**/coverage/

# Env y secretos
**/.env
**/.env.*
!.env.example
infra/nginx/*.crt
infra/nginx/*.key

# Docker compose overrides
infra/*-override.yml
infra/*.local.yml

# Backups y dumps
infra/backups/
db/dumps/

# Keycloak
keycloak/*.json
!keycloak/realm-export.example.json
